{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
				<div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style="background-image: url({% static 'img/hero-2.jpg' %});">

                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Dikkat
                        </span>
                        <h2>
                            Registro {{ error }}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">

						<form method="POST">
							{% csrf_token %}
							{{form.as_p}}
							<button>
								Registrarse
							</button>
						</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

