{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            {{restaurante.nombre}}
                        </span>
                        <h2>
                            Productos
                        </h2>
                        <a href="{% url 'crearPro' restaurante %}" class="btn btn-default">Crear producto {% bs_icon 'plus'%}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for pro in productos %}
                    <div class="col-lg-6 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5"></h3>
                    </div>

                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="data:image/jpeg;base64,{{pro.imagenInv}}" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <div class="col-6">
                                    <h4>{{pro.nombre}}</h4>
                                    </div>
                                    <div class="col-12">
                                    <p>
                                        {% if pro.cantidadDisponible > 0 %}
                                                <h4 class="subheading text-muted">Disponible: {{pro.cantidadDisponible}} {{pro.unidadMedida}}</h4>
                                                {% else %}
                                                <h4 class="subheading">{{pro.estado}}</h4>
                                                {% endif %}
                                    </p>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="col-6">
                                        <h4 class="text-muted menu-price">${{pro.precio}}</h4>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'editarPro' restaurante pro.nombre %}" class="btn btn-default">Editar {% bs_icon 'pencil'%}</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}