{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style="background-image: url({% static 'img/logod.png' %});">
                    
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Dikkat
                        </span>
                        <h2>
                            Bienvenido a Dikkat
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>¡Bienvenido a la revolución culinaria! Descubre una experiencia gastronómica única con nuestra innovadora aplicación. Olvídate de hacer largas filas o esperar a un mesero; con nuestra aplicación, puedes explorar el menú, realizar pedidos y disfrutar de tus platillos favoritos directamente desde la comodidad de tu mesa. ¡La conveniencia está en tus manos! Bienvenido a un nuevo mundo de sabores y servicio personalizado en cada visita. ¡Buen provecho!</p>
                        <h3 class="mt-5">Entre nuestros servicios</h3>
                        <div class="row">
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="{% static 'img/inventario.jpg' %}" />
                                    <h6>Manejo de inventario</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="{% static 'img/ordering.jpg' %}" />
                                    <h6>Pedidos desde la mesa</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="{% static 'img/facturacion-electronica.jpg' %}"/>
                                    <h6>Facturacion electronica</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->		<!-- Special Dishes Section -->
<section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Nuestros
                </span>
                <h2>
                    Clientes
                </h2>
            </div>
            {% load index %}
            {% for dato in tamano %}
            {% if dato|divisibleby:2 %}
            <div class="row mt-5" >
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">{{ restaurantes|indexId:dato }}</h2>
                    <div class="dishes-text">
                        <h3><a href="{% url 'inicio' restaurantes|indexNombre:dato %}">{{restaurantes|indexNombre:dato}}</a><br></h3>
                        <p class="pt-3">{{restaurantes|indexDes:dato}}</p>
                    </div>

                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{restaurantes|indexLogo:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            {% else %}
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{restaurantes|indexLogo:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">{{restaurantes|indexId:dato}}</h2>
                    <div class="dishes-text">
                        <h3><a href="{% url 'inicio' restaurantes|indexNombre:dato %}">{{restaurantes|indexNombre:dato}}</a><br> </h3>
                        <p class="pt-3">{{restaurantes|indexDes:dato}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


<section id="gtco-team" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Dikkat
                </span>
                <h2>
                    Nuestro equipo
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="{% static 'img/chef-1.jpg' %}" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Rosemberg Diaz</h4>
                            <p class="mb-1">Fundador</p>
                            <ul class="list-inline mb-0 team-social-links">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src="{% static 'img/chef-3.jpg' %}" alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Camilo Rendon</h4>
                            <p class="mb-1">Fundador</p>
                            <ul class="list-inline mb-0 team-social-links">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
