{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Especialidades
                        </span>
                        <h2>
                            Nuestro Menu
                        </h2>
                        <a href="{% url 'crearPla' restaurante %}" class="btn btn-default">Crear plato {% bs_icon 'plus'%}</a>
                        <a href="{% url 'productos' restaurante %}" class="btn btn-default">Ver inventario</a>
                    </div>  
                </div>
            </div>
            <div class="row">
                {% for estacion in estaciones %}
                    <div class="col-lg-6 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">{{estacion}}</h3>
                    </div>
                        {% for plato in platos %}
                        {% if plato.estacion == estacion %}
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="data:image/jpeg;base64,{{plato.imagenMenu}}" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>{{plato.nombre}}</h4>
                                </div>
                                <div class="col-4">
                                    <div class="col-6">
                                        <h4 class="text-muted menu-price">${{plato.precio}}</h4>
                                    </div>

                                    <div class="col-6">
                                        <a href="{% url 'editarPla' restaurante plato.nombre %}" class="btn btn-default">Editar {% bs_icon 'pencil'%}</a>
                                    </div>
                                </div>
                            </div>
                            <p>
                                {% for inv in inventario %}
                                {% if inv.plato == plato %}

                                {{inv.producto}},

                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                        {% endif %}
                        {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>{% endblock %}
