{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Orden: {{identificator}}
                </span>
                {% if estado %}
                <h2>
                    Tu orden ya fue enviada a la cocina
                </h2>
                {% else %}
                <h2>
                    Tu orden ya fue entregada
                </h2>
                {% endif %}
            </div>
            {% load index %}
            {% for dato in tamano %}
            {% if dato|divisibleby:2 %}
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">{{ especiales|indexId:dato }}</h2>
                    <div class="dishes-text">
                        <h3><span>{{especiales|indexNombre:dato}}</span><br></h3>
                        <p class="pt-3">{{especiales|indexDes:dato}}</p>
                        <h3 class="special-dishes-price">{{especiales|indexPrecio:dato}}</h3>
                        <h3 class="special-dishes-price">Cantidad: {{cantidades|index:dato}}</h3>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{especiales|indexImagen:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            {% else %}
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{especiales|indexImagen:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">{{especiales|indexId:dato}}</h2>
                    <div class="dishes-text">
                        <h3><span>{{especiales|indexNombre:dato}}</span><br> </h3>
                        <p class="pt-3">{{especiales|indexDes:dato}}</p>
                        <h3 class="special-dishes-price">{{especiales|indexPrecio:dato}}</h3>
                        <h3 class="special-dishes-price">Cantidad: {{cantidades|index:dato}}</h3>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>{% endblock %}