{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Orden: {{identificator}}
                </span>
                {% if estado %}
                <h2>
                    Tu orden ya fue enviada a la cocina
                </h2>
                {% if request.user.is_authenticated %}
                <a class="col-6" href="{% url 'entregarOrden' restaurante identificator %}" class="btn btn-default">Entregar {% bs_icon 'pencil'%}</a>
                {% endif %}
                {% else %}
                <h2>
                    {% if pagaCompleta %}
                    Ya pagaste toda tu orden
                    {% else %}
                    Tu orden ya fue entregada
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
                        Pagar orden completa
                    </button>
                    {% endif %}


                </h2>
                {% endif %}
            </div>
            {% load index %}
            {% for dato in tamano %}
            {% if dato|divisibleby:2 %}
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">{{ especiales|indexId:dato }}</h2>
                    <div class="dishes-text">
                        <h3><span>{{especiales|indexNombre:dato}}</span><br></h3>
                        <p class="pt-3">{{especiales|indexDes:dato}}</p>
                        <h3 class="special-dishes-price">${{especiales|indexPrecio:dato}}</h3>
                        <h3 class="special-dishes-price">Cantidad: {{cantidades|index:dato}}</h3>
                    </div>
                    {% if pagados|index:dato %}
                        <p class="pt-3">Cancelado</p>
                    {% else %}
                        {% if request.user.is_authenticated %}
                        {% if estado %}
                        {% else %}
                        <div class="modal-body">
                                    <!-- Formulario -->
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="{{ form.metodo_pago.id_for_label }}" class="form-label">Método de Pago</label>
                                            {{ form.metodo_pago }}
                                        </div>
                                         <a class="col-6" href="{% url 'pagarPlato' restaurante identificator especiales|indexNombre:dato %}" class="btn btn-default">Pagar plato {% bs_icon 'pencil'%}</a>
                                    </form>
                                </div>{% endif %}
                        {% endif %}

                    {% endif %}

                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{especiales|indexImagen:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            {% else %}
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src="data:image/jpeg;base64,{{especiales|indexImagen:dato}}" alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">{{especiales|indexId:dato}}</h2>
                    <div class="dishes-text">
                        <h3><span>{{especiales|indexNombre:dato}}</span><br> </h3>
                        <p class="pt-3">{{especiales|indexDes:dato}}</p>
                        <h3 class="special-dishes-price">${{especiales|indexPrecio:dato}}</h3>
                        <h3 class="special-dishes-price">Cantidad: {{cantidades|index:dato}}</h3>
                    </div>

                    {% if pagados|index:dato %}
                        <p class="pt-3">Cancelado</p>
                    {% else %}
                        {% if request.user.is_authenticated %}
                        {% if estado %}
                        {% else %}
                                 <div class="modal-body">
                                    <!-- Formulario -->
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="{{ form.metodo_pago.id_for_label }}" class="form-label">Método de Pago</label>
                                            {{ form.metodo_pago }}
                                        </div>
                                         <a class="col-6" href="{% url 'pagarPlato' restaurante identificator especiales|indexNombre:dato %}" class="btn btn-default">Pagar plato {% bs_icon 'pencil'%}</a>
                                    </form>
                                </div>
                               {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Mi Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.metodo_pago.id_for_label }}" class="form-label">Método de Pago</label>
                            {{ form.metodo_pago }}
                        </div>
                        <a class="col-6" href="{% url 'pagarOrden' restaurante identificator %}" class="btn btn-default">Pagar {% bs_icon 'pencil'%}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>{% endblock %}