{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_icons %}
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Dikkat
                        </span>
                        <h2>
                            Crear Restaurante {{ error }}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">

						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form.as_p}}
                            <div class="form-group">
                                <label for="uploadFromPC">Imagen:</label>
                                <input type="file" name="uploadFromPC" id="uploadFromPC" class="myButton" title="Upload From PC" value= "Upload from PC" onchange="uploadPC()" style="float:left;" required>
                            </div>
							<button>
								Enviar
							</button>
						</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}